:root {
    --primary-color: #0a1128;
    --gap: 3rem;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}

p {
    margin-bottom: 3rem;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;

}

h1 {
    margin-left: 20px;
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

#menu {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #d6d6d6c9;
}

header nav a {
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.6s;
}
  
header nav a:hover {
    border-bottom: 2px solid #aa2323a2; 
    background-color: rgba(236, 236, 236, 0.801);
    
}

header h1 a {
    text-decoration: none;
}

#menu h1 {
    font-size: 2.3rem;
}

#menu h1 a {
    color: var(--primary-color);
    
}

ul {
    display: flex;
    list-style: none;

}

#menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
}

.menu-spacing {
    height: 65px;
}

.main-bg {
    background: url(img/scattered-forcefields.png) center;
    background-size: cover;
    color: whitesmoke;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    height: 100vh;
}

.container {
    display: flex;
    gap: 50px;
    align-items: center;

}

.intro-text {
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 2rem;
    padding-bottom: 60px;
}

.intro-img {
    float: left;
    width: 50%;
    height: auto;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.intro-text h2 {
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 50px;
    line-height: 1.2;
}

.intro-text p {
    margin-left: 5px;
    max-width: 400px;
    padding-bottom: 40px;
    line-height: 1.6;
}

.white-bg {
    height: 110vh;
}

.top3-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    max-width: 640px;
}

.top3-content h2 {
    padding-top: 62px;
    margin-bottom: 30px;
   
}

.top3-content p {
    margin-bottom: 3rem;
}
